<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="asd.css">
</head>

<body>
    <div id="app">
        <div class="nav-container">
            <p>this is navbar</p>
        </div>
        <div class="main-container">
            <h1>Register A Location</h1>
            <table>
                <thead>
                    <tr>
                        <th>sample</th>
                        <th>sample</th>
                        <th>sample</th>
                        <th>sample</th>
                        <th>sample</th>
                        <th>sample</th>
                        <th>sample</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                    <tr>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                        <td>asdasd</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>